#### 1.Import pandas and read in the banklist.csv file into a dataframe called

In [2]:
import pandas as pd
data=pd.read_csv("banklist.csv")

In [3]:
data.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

3) What are the column names?

In [4]:
df=pd.DataFrame(data)

In [5]:
a=df.columns

4) How many States (ST) are represented in this data set?

In [6]:
len(data['ST'].unique())

44

5) Get a list or array of all the states in the data set.

In [7]:
s=data['ST'].unique()
for i in s:
    print(i,end=" ")

IL WI LA UT NJ AR GA PA TN WA CO PR FL MN CA MD OK OH SC VA ID TX CT AZ NV NC KY MO KS AL MI IN IA NE MS NM OR NY MA SD WY WV NH HI

6) What are the top 5 states with the most failed banks?

In [8]:
top_states = df['ST'].value_counts().head(5)
print(top_states)

ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

7) What are the top 5 acquiring institutions?

In [9]:
top_states = df['Acquiring Institution'].value_counts().head(5)
print(top_states)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

8) How many banks has the State Bank of Texas acquired? How many of
them were actually in Texas?

In [10]:
state_bank_acquisitions = df[df['Acquiring Institution'] == 'State Bank of Texas']

total_acquisitions = len(state_bank_acquisitions)

texas_acquisitions = len(state_bank_acquisitions[state_bank_acquisitions['ST'] == 'TX'])

print(f"Total banks acquired by State Bank of Texas: {total_acquisitions}")
print(f"Banks acquired in Texas: {texas_acquisitions}")

Total banks acquired by State Bank of Texas: 3
Banks acquired in Texas: 1

In [ ]:
9) What is the most common city in California for a bank to fail in?